/* Reset some default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header and Navigation Styles */
header {
    background-color: #000;
    padding: 20px 20px; /* Aumentar el padding vertical */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Tamaño de las letras del menú */
    font-weight: normal; /* Sin negrita */
}

.menu a:hover {
    color: #f0a500;
}

/* Main section styling */
main {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.project-image img {
    width: 100%; /* Hacer que las imágenes sean del mismo ancho que el cuadro aqua */
    max-width: 2000px; /* Igualar el ancho máximo del cuadro aqua */
    height: auto; /* Mantener las proporciones de las imágenes */
    display: block;
    margin: 0 auto; /* Centrar las imágenes */
}

.main-content {
    max-width: 2000px; 
    margin: 0 auto; 
}

/* Purple Section Styling */
.purple-section {
    background-color: #e6ccff; /* Color morado pastel */
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%; /* Ancho completo */
    max-width: 1200px; /* El mismo ancho que el cuadro aqua */
    margin: 0 auto; /* Centrar el cuadro */
    border-radius: 15px; /* Bordes redondeados */
}

/* Column Styling */
.info-column {
    text-align: center;
    flex: 1; /* Asegura que las columnas ocupen el mismo espacio */
    padding: 10px;
}

/* Column Title Styling */
.column-title {
    font-size: 24px; /* Tamaño más grande para los títulos en mayúsculas */
    font-weight: bold;
    margin-bottom: 10px;
}

/* Text Below Title Styling */
.info-column p {
    font-size: 18px;
    color: #333; /* Color del texto */
}